# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# R
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Mac
.DS_Store
Thumbs.db

# Student data
/repos/
/student_data/

# Hugo
.hugo_build.lock

# misc
/moodle
.vscode/*.log
*-jvsc-*.ipynb
/private
