{{ partial "header.html" . }}


{{ define "breadcrumbnav" }}
{{ if .p1.Parent }}
{{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )  }}
{{ else if not .p1.IsHome }}
{{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )  }}
{{ end }}
<li{{ if eq .p1 .p2 }} class="active"{{ end }}>
<a href="{{ .p1.Permalink }}">{{ .p1.Title }}</a>
</li>
{{ end }}


<div class="article-meta{{- if .Draft }} draft{{end}}">
    <ul  class="breadcrumbs">
        {{ template "breadcrumbnav" (dict "p1" .Parent "p2" .) }}
    </ul>    
<h1><span class="title">{{ .Title | markdownify }}</span></h1>
{{ with .Params.author }}<h2 class="author">{{ . }}</h2>{{ end }}
{{ if .Params.includeMeta }}
{{ if (gt .Params.date 0) }}<h2 class="date">{{ .Date.Format "2006-01-02" }}</h2>{{ end }}
{{ end }}
</div>

{{ .TableOfContents }}

<main>
{{ if .Draft }}
<h2>Warning: This is draft content. Do not start work on this assignment yet.</h2>
{{ end }}

{{ .Content }}
</main>

{{with .Prev}}<div style="text-align: left; font-size: smaller;">&larr; <a href="{{.Permalink}}">{{ .Title }}</a></div>{{ end }}
{{with .Next}}<div style="text-align: right; font-size: smaller;"><a href="{{.Permalink}}">{{ .Title }}</a> &rarr;</div>{{ end }}

{{ partial "footer.html" . }}
