{{ partial "header.html" . }}

{{ if not .Sections }}
{{ $currentPage := . }}
<ul class="section-nav">{{ range .Parent.Sections }}
  <li>{{ if eq . $currentPage }}<b>{{ .Title }}</b>{{ else }} <a href="{{ .Permalink }}">{{ .Title }}</a> {{ end }}</li>
{{ end }}</ul>
{{ end }}

<h1>{{ .Title | markdownify }}</h1>

{{ .Content }}

{{ if .Sections }}
{{ range .Sections }}
<details open>
  <summary><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></summary>
  <ul style="margin: 0;">
      {{- $pages := .Pages.ByDate -}}
      {{- range (where $pages "Section" .Section ) -}}
      <li>
        <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
      </li>
      {{- end -}}
    </ul>      
</details>
{{ end }}
{{ else }}

<h2>Contents</h2>

<ul>
  {{ $pages := .Pages.ByDate }}
  {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
  {{ range (where $pages "Section" .Section ) }}
  <li>
    <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
  </li>
  {{ end }}
</ul>

{{ end }}

{{ partial "footer.html" . }}
