{{ partial "header.html" . }}

{{ if not .Sections }}
{{ $currentPage := . }}
<ul class="breadcrumbs">{{ range .Parent.Sections }}
  <li>{{ if eq . $currentPage }}{{ .Title }}{{ else }} <a href="{{ .Permalink }}">{{ .Title }}</a> {{ end }}</li>
{{ end }}</ul>
{{ end }}

<h1>{{ .Title | markdownify }}</h1>

{{ .Content }}

{{ if .Sections }}
<ul>
{{ range .Sections }}
  <li>
    <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a> ({{.Date.Format "Jan 2"}})
    <ul>
        {{ $pages := .Pages.ByDate }}
        {{ range (where $pages "Section" .Section ) }}
        <li>
          <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a> ({{ .Date.Format "Mon Jan 2" }})
        </li>
        {{ end }}
      </ul>      
  </li>
{{ end }}
</ul>
{{ else }}

<h2>Contents</h2>

<ul>
  {{ $pages := .Pages.ByDate }}
  {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
  {{ range (where $pages "Section" .Section ) }}
  <li>
    <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>  ({{ .Date.Format "Mon Jan 2" }})
  </li>
  {{ end }}
</ul>


{{ end }}

{{ partial "footer.html" . }}
